@model ManageRoleViewModel
@{
    ViewBag.Title = "AssignUserRoles";
}

<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Manage Users / Assign Roles</li>
        </ol>
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <div>
                    <h5 class="card-title">User Role</h5>
                </div>
                <form method="post" class="form-horizontal">
                    @foreach (var role in Model.AllRoles)
                    {
                        <div class="form-check">
                            <input type="checkbox"
                                   value="@role.Id"
                                   name="userRoleIds"
                                   @(Model.UserRoles.Any(p => p.Id == role.Id) ? "checked" : "") />
                            @role.Name
                        </div>
                    }
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
             

            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
