@{
    ViewBag.Title = "Home Page";
}

        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <span>Dashboard</span>
                    </li>
                </ol>
            </div> 
                         
            </div>
  