@model Comment
@{
    ViewBag.Title = "AddCommentSubmitter";
}

<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">My Tickets / Create Comment</li>
        </ol>
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <div>
                    <h5 class="card-title">Comment</h5>
                    <form method="post" enctype="multipart/form-data">

                        <div class="form-group">
                            <div class="form-group">
                                @Html.LabelFor(comment => comment.TicketComment, "Ticket Comment")
                                @Html.TextAreaFor(comment => comment.TicketComment, new { @class = "form-control", placeholder = "Enter comment here" })
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary mb-2" value="Save">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

